In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import requests
import json

In [3]:
#load in csv
olympics_data = pd.read_csv("Summer-Olympic-medals-1976-to-2008.csv", encoding="latin-1")
olympics_data.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

There were 15 countries in the Soviet Union: Armenia, Azerbaijan, Belarus, Estonia, Georgia, Kazakhstan, Kyrgyzstan, Latvia, Lithuania, Moldova, Russia, Tajikistan, Turkmenistan, Ukraine, and Uzbekistan (https://www.infobloom.com/which-countries-were-part-of-the-soviet-union.htm). East and West Germany became one united Germany. This section looks at The performance of the Soviet Union's perforance during the olympics pre-1992 (since it collapsed in 1991) and compares it to the performance of these 15 countries from 1992 on. Similarly, the performances of East and West Germany during the olympics pre-1992 (since they unified in 1990 (https://www.history.com/this-day-in-history/east-and-west-germany-reunite-after-45-years)) willbe compared to the performance of Germany from 1992 on. - Kaylie S.

In [21]:
#seeing which countries appear on the list
olympics_data["Country"].sort_values().unique()

array(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Barbados', 'Belarus',
       'Belgium', 'Bermuda*', 'Brazil', 'Bulgaria', 'Burundi', 'Cameroon',
       'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Czechoslovakia', 'Denmark', 'Djibouti', 'Dominican Republic',
       'East Germany', 'Ecuador', 'Egypt', 'Eritrea', 'Estonia',
       'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Guyana', 'Hong Kong*', 'Hungary', 'Iceland',
       'Independent Olympic Participants (1992)', 'India', 'Indonesia',
       'Iran', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kenya', 'Korea, North', 'Korea, South', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lithuania', 'Macedonia',
       'Malaysia', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Morocco', 'Mozambique', 'Namibia', 'Netherlands',
       'Netherlands Antilles*', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico*', 'Qatar', 'Romania', 'Russia',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Singapore', 'Slovakia',
       'Slovenia', 'South Africa', 'Soviet Union', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine',
       'Unified team', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'Virgin Islands*', 'West Germany', 'Yugoslavia', 'Zambia',
       'Zimbabwe', nan], dtype=object)

We can see from above that from 1992 to 2008, Turkmenistan did not win a medal at all, and will not be included in the analysis until the end.

In [22]:
#group the olymics data by country
country_olympics_data = olympics_data.groupby("Country")

#pull the data for the Soviet Union and former Soviet countries into separate dataframes
soviet_data = country_olympics_data.get_group("Soviet Union")
armenia_data = country_olympics_data.get_group("Armenia")
azerbaijan_data = country_olympics_data.get_group("Azerbaijan")
belarus_data = country_olympics_data.get_group("Belarus")
Estonia_data = country_olympics_data.get_group("Estonia")
georgia_data = country_olympics_data.get_group("Georgia")
kazakhstan_data = country_olympics_data.get_group("Kazakhstan")
kyrgyzstan_data = country_olympics_data.get_group("Kyrgyzstan")
latvia_data = country_olympics_data.get_group("Latvia")
lithuania_data = country_olympics_data.get_group("Lithuania")
moldova_data = country_olympics_data.get_group("Moldova")
russia_data = country_olympics_data.get_group("Russia")
tajikistan_data = country_olympics_data.get_group("Tajikistan")
ukraine_data = country_olympics_data.get_group("Ukraine")
uzbekistan_data = country_olympics_data.get_group("Uzbekistan")

#pull the data for East, West, and united Germany into separate dataframes
east_germany_data = country_olympics_data.get_group("East Germany")
west_germany_data = country_olympics_data.get_group("West Germany")
germany_data = country_olympics_data.get_group("Germany")

In [ ]:
#function to see how many medals were won